spring:
  main:
    banner-mode: "off"
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
  datasource:
    url:  jdbc:h2:file:~/social-multiplication;DB_CLOSE_ON_EXIT=FALSE;
  rabbitmq:
      host: localhost
      password: guest
      username: guest
      port: 5672

server:
  port: ${PORT:8080}

logging:
  level:
    root: WARN
    org:
      assertj: INFO
    com:
      microservices:
        multiplication: DEBUG
  file: logs/spring-log.log


multiplication:
  exchange: multiplication_exchange
  solved:
    key: multiplication.solved

eureka:
  client:
    service-url:
      default-zone: http://[myIP@]:8761/eureka/
  instance:
      leaseRenewalIntervalInSeconds: 1
      leaseExpirationDurationInSeconds: 2

ribbon:
  eureka:
    enabled: true

